{% extends "base-templates/base.html" %}

{% block page_title %}Welcome{% endblock %}


{% block "main" %}
<div class="row">
    <div class="span4 pull-right right_col">
      <div class="about_box">
          <h2><span class="black">About</span> Apeman Vinyl</h2> 
             <p>404 :(</p>         
             {% include "includes/categories.html" %}
      </div>
    </div>
    <div class="span8">
        <div class="row">
           <div class="review_pod span8 foaohfoa">
            <h2>404 - Page not found</h2>
            <h3>If we had lenses in here we might have been able to find your page.</h3>
            <img src="{{ STATIC_URL }}img/404.png" alt="lost hipsters" / >
            <h4>Perhaps you bookmarked it before it became popular?</h4>
            <p>The <a href="/">homepage</a> is the best place to begin again.</p>
            
           </div> 
        </div>
    </div>
</div>    

{% endblock "main" %}
