{% extends "base-templates/base.html" %}

{% block page_title %}Welcome{% endblock %}


{% block "main" %}
   <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link href="/static/css/apestyle.css" rel="stylesheet" media="screen">
    
<div class="row">
    <div class="span4 pull-right right_col">
      <div class="about_box">
          <h2><span class="black">About</span> Apeman Vinyl</h2> 
             <p>404 :(</p>         
             {% include "includes/categories.html" %}
      </div>
    </div>
    <div class="span8">
        <div class="row">
           <div class="review_pod span8 foaohfoa">
            <h2>500 - Server error</h2>
            <h3>Something has gone horribly wrong. The admin has been informed and will look into this.</h3>
            <img src="/static/img/500.jpg" alt="server failure" / >
            <h4>You can always email info@apemanvinyl.com if you would like more information.</h4>
            <p>The <a href="/">homepage</a> is the best place to begin again.</p>
           </div> 
        </div>
    </div>
</div>    

{% endblock "main" %}
