{% extends "base-templates/base.html" %}
{% load thumbnail %}

{% block page_title %}Welcome{% endblock %}


{% block "main" %}
<div class="row">
    <div class="span4 pull-right right_col">
      <div class="about_box">
          <h2><span class="black">About</span> Apeman Vinyl</h2>
             {{about.content|safe}}        
          
          <h3>Our writers</h3>
          {% for p in personnel %}
             <div class="writers_links">
                  <p><img src="{% if p.bio_pic %}{% thumbnail p.bio_pic 70x70 crop %}{% endif %}" alt="{{ p.nickname }}" />
                  <a href="/staff/{{p.slug}}/" alt="visit {{ p.nickname }}'s bio"/>{{ p.nickname }}</a></p>
             </div>
          {% endfor %}
          
          {% include "includes/categories.html" %}
          
      </div>
    </div>
    
    <div class="span8">
        <div class="row">
            {% for a in articles %}
              <div class="review_pod span4">
                  <div class="review_image" style='background:url({% if a.promo_image %}{% thumbnail a.promo_image 360x360 crop %}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) no-repeat top center; background-size:cover;'>
                        <div class="review_meta">
                            <h2 class="album_title">{{a.title}}</h2>
                            <p>by <a href="/staff/{{a.reporter.slug}}/">{{a.reporter}}</a></p>
                        </div>
                  </div>
                  <div class="review_body clearfix">
                      <p class="review_pod_text">{{a.article|striptags|safe|truncatechars:200}}</p>
                    <a class="btn btn-blue more_button" href="/news/{{a.slug}}/">Read more</a> 
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>    
{% endblock "main" %}
