{% extends "base-templates/base.html" %}
{% load thumbnail %}

{% block page_title %}Staff ({{staff.nickname}} -  {{staff.job_title}}){% endblock %}
{% block meta_desc %}{{staff.biography|striptags|safe|truncatechars:100}}{% endblock %}
{% block keywords %}{{staff.nickname}}, {{staff.job_title}}, {{review.tags}} {% endblock %}

{% block "main" %}
<div class="row combo_listing_page">
    <div class="span8">
        <div class="staff_page clearfix">
            
            <div class="staff_image" style='background:url({% if staff.banner_image %}{{MEDIA_URL}}{{staff.banner_image}}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) #333 no-repeat top center'>
                    <div class="staff_meta">
                        <h2 class="album_title">{{staff.nickname}}</h2>
                        <h3 class="album_artist">{{staff.job_title}}</h3>
                    </div>
            </div>
            
            <div class="staff_body">
                {{staff.biography|safe}}
            </div>
        </div>
        
        
        <div class="row">
            {% if reviews %}
                {% for r in reviews %}
                    {% if r.get_class == "review" %}
                      <div class="review_pod span4 clearfix">
                          <div class="label_holder clearfix">
                              <div class="label_text">
                                <p>Review</p>    
                              </div>
                              <div class="littleblacktriangle"></div>
                          {% if r.score %}
                            <div class="pod_score score_{{r.score}}" ></div>
                          {% endif %}
                          </div>
                          <div class="review_image" style='background:url({% if r.album_image %}{% thumbnail r.album_image 360x360 crop %}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) no-repeat top center; background-size:cover;'>
                                <div class="review_meta">
                                    <h2 class="album_title">{{r.album}}</h2>
                                    <h3 class="album_artist">{{r.artist}}</h3>
                                    <p>by <a href="/staff/{{r.reviewer.slug}}/">{{r.reviewer}}</a></p>
                                </div>
                          </div>
                          <div class="review_body clearfix">
                              <p class="review_pod_text">{{r.review|striptags|safe|truncatechars:200}}</p>
                            <a class="btn btn-blue more_button" href="/reviews/{{r.slug}}/">Read more</a> 
                          </div>
                        </div>
                    {% elif r.get_class == "news" %}
                        <div class="review_pod span4 clearfix">
                          <div class="label_holder clearfix">
                              <div class="label_text">
                                <p>News</p>    
                              </div>
                              <div class="littleblacktriangle"></div>
                          </div>
                          <div class="review_image" style='background:url({% if r.promo_image %}{% thumbnail r.promo_image 360x360 crop %}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) no-repeat top center; background-size:cover;'>
                                <div class="review_meta">
                                    <h2 class="album_title">{{r.title}}</h2>
                                    <p>by <a href="/staff/{{r.reporter.slug}}/">{{r.reporter}}</a></p>
                                </div>
                          </div>
                          <div class="review_body clearfix">
                              <p class="review_pod_text">{{r.article|striptags|safe|truncatechars:200}}</p>
                            <a class="btn btn-blue more_button" href="/news/{{r.slug}}/">Read more</a> 
                          </div>
                        </div>
                    {% elif r.get_class == "playlist" %}
                    <div class="review_pod span4 clearfix">
                      <div class="label_holder clearfix">
                          <div class="label_text">
                            <p>Playlist</p>    
                          </div>
                          <div class="littleblacktriangle"></div>
                      </div>
                      <div class="review_image" style='background:url({% if r.playlist_image %}{% thumbnail r.playlist_image 360x360 crop %}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) no-repeat top center; background-size:cover;'>
                            <div class="review_meta">
                                <h2 class="album_title">{{r.title}}</h2>
                                <p>by <a href="/staff/{{r.listauthor.slug}}/">{{r.listauthor}}</a></p>
                            </div>
                      </div>
                      <div class="review_body clearfix">
                          <p class="review_pod_text">{{r.content|striptags|safe|truncatechars:200}}</p>
                        <a class="btn btn-blue more_button" href="/playlists/{{r.slug}}/">Read more</a> 
                      </div>
                    </div>
                {% else %}
                    <div class="review_pod span4 clearfix">
                      <div class="label_holder clearfix">
                          <div class="label_text">
                            <p>Artwork</p>    
                          </div>
                          <div class="littleblacktriangle"></div>
                      </div>
                      <div class="review_image" style='background:url({% if r.collection_image %}{% thumbnail r.collection_image 360x360 crop %}{% else %}{{STATIC_URL}}img/no_cover.png{% endif %}) no-repeat top center; background-size:cover;'>
                            <div class="review_meta">
                                <h2 class="album_title">{{r.title}}</h2>
                                <p>by <a href="/staff/{{r.collection_author.slug}}/">{{r.collection_author}}</a></p>
                            </div>
                      </div>
                      <div class="review_body clearfix">
                          <p class="review_pod_text">{{r.content|striptags|safe|truncatechars:200}}</p>
                        <a class="btn btn-blue more_button" href="/artwork/{{r.slug}}/">Read more</a> 
                      </div>
                    </div>
                {% endif  %}
                {% endfor %}
            {% else %}     
                <div class="review_pod span4">   
                    <h2 class="noreviews">No reviews yet</h2>
                </div>
            {% endif %}        
        </div>
        
        {% if reviews %}
         <div class="row pagination_links">
            <div class="span3">              
                {% if reviews.has_previous %}
                    <h1 class="newposts"><a href="?page={{ reviews.previous_page_number }}">&lt; Newer posts</a></h1>
                {% endif %}
            </div>
            <div class="span2">
                <span class="current">
                    <h1>{{ reviews.number }}/{{ reviews.paginator.num_pages }}</h1>
                </span>
            </div>
            <div class="span3">
                {% if reviews.has_next %}
                    <h1 class="oldposts"><a href="?page={{ reviews.next_page_number }}">Older posts &gt;</a></h1>
                {% endif %}               
            </div>
        </div>
        {% endif %}
        
    </div>        
    
    <div class="span4 pull-right right_col">
      <div class="about_box">
          <h2><span class="black">About</span> Apeman Vinyl</h2>
             {{about.content|safe}}      
          
          <h3>Our writers</h3>
          {% for p in personnel %}
             <div class="writers_links">
                  <p><img src="{% if p.bio_pic %}{% thumbnail p.bio_pic 70x70 crop %}{% endif %}" alt="{{ p.nickname }}" />
                  <a href="/staff/{{p.slug}}/" alt="visit {{ p.nickname }}'s bio"/>{{ p.nickname }}</a></p>
             </div>
          {% endfor %}
          
          {% include "includes/categories.html" %}
      </div>
    </div>
    
</div>    
{% endblock "main" %}
