@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 767px) {
    .header_social{display:none;}
}

/* basic layout */
body{
    background:url('../img/wooden_floor_bg.jpg') top center repeat;  background-attachment:fixed;
}

p{ line-height:26px;}

header{background:#000 url('../img/masthead.jpg') center top no-repeat; min-height:197px; width:100%; position:relative;}
footer{background:#000; min-height:50px; width:100%; position:relative; margin-top:2em;}

/* typography  */
h1 {font: 48px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0; color:#fff;}
h2 {font: 30px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0; color:#cc1b21;}
h3 {font: 25px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0; color:#333;}

.black{color:#333;}
.red{color:#cc1b21;}

body {font-family:Minion-Pro-1, Minion-Pro-2, Georgia, "Times New Roman",Serif; font-size:16px; line-height:24px; color:#333;}

a{color:#208fd5; font-weight:bold;}
a:hover{color:#186798;}
h1 a, h2 a, h3 a, h4 a {font-weight:normal;}

/*shadows*/

header, .review_pod, .right_col{
-webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 8px 10px rgba(0, 0, 0, 0.5);
box-shadow:         0px 8px 10px rgba(0, 0, 0, 0.5);
}


/* nav */
.navcontainer{position: absolute;bottom: 0;height: 40px;width: 100%; text-align:center;}
ul.nav{margin-bottom: 0.2em; margin-left: auto; margin-right: auto; position: relative; margin-top: 0.3em; display:inline-block;}
ul.nav li{float:left; margin:0 0.5em;}
ul.nav li a{font: 25px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0; color:#fff;}
ul.nav li a:hover {background-color:#000;}

/* review pods */
.review_pod, .right_col{background:#fff; margin-bottom:2em;}
.review_pod a {color:#}
.review_pod h2.entry-title a {color:#cc1b21;}

.review_image{height:360px; margin:1em; }
.review_meta{background:#fff; margin-top:180px; display: inline-block; width:80%; min-height:100px;}
.review_meta h2.album_title{color:#333; margin-bottom:0.1em;}
.review_meta h3.album_artist{color:#cc1b21; font: 30px 'LeagueGothicRegular', Arial, sans-serif; margin-top:0px; margin-bottom:0.1em;}

.review_body {margin:1em;}
.review_pod .review_body p {min-height:132px;}
.more_button{float:right;}

/* awkward button color */
.btn-blue {
  border-radius:0;
  background-color: hsl(201, 100%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008edb", endColorstr="#008edb");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#008edb), to(#008edb));
  background-image: -moz-linear-gradient(top, #008edb, #008edb);
  background-image: -ms-linear-gradient(top, #008edb, #008edb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008edb), color-stop(100%, #008edb));
  background-image: -webkit-linear-gradient(top, #008edb, #008edb);
  background-image: -o-linear-gradient(top, #008edb, #008edb);
  background-image: linear-gradient(#008edb, #008edb);
  border-color: #008edb #008edb hsl(201, 100%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

/* social media icons */
footer .follow{text-align:center; color:#fff; margin-top:1em; position:relative; display:inline-block; width:100%;}
footer {width: 100%; text-align:center;}
ul.social{position: relative; display:inline-block; margin:0 0 1em 0;}
ul.social li {list-style:none;  float:left; width:46px; height:44px; }
ul.social li a.social_icons{background:url(../img/social_sprites.png) #000 no-repeat top left; width:46px; height:44px; display:inline-block;}
ul.social li a.social_icons span{position:absolute; left:-9000px;}
ul.social li a.apeman_fb{background-position:0px 0px}
ul.social li a.apeman_twit{background-position:-46px 0px}
ul.social li a.apeman_tumblr{background-position:-92px 0px}


.header_social{text-align:right; margin-top:35px;}
.header_social .follow{color:#fff; margin-bottom:5px;}

/* right col */

.right_col{margin-bottom:8em;}

.about_box{margin:1em;}
.about_box h2, .about_box h3{border-bottom:1px solid #ddd; padding-bottom:0.5em; margin-bottom:0.5em;}

.writers_links{margin-bottom:1.2em;}
.writers_links img{margin-right:1em;}

ul.category_nav{margin-bottom: 0.2em; margin-left: auto; margin-right: auto; position: relative; margin-top: 0.3em; display:inline-block;}
ul.category_nav li{float:left; margin:0.5em 0; width:100%; list-style:none;}


/* Review pages */
.review_page{background:#fff;}
.review_page .review_image {margin:0;}
.review_page .review_meta {padding-left:1em; margin-top:140px; clear:left; float:left; width:40%; min-width:190px;} 
.review_page .review_date_stamp{padding:0.5em; background:rgba(255, 255, 255, 0.7); width:auto; float:left; display:block}

review_page .review_body{margin-bottom:2em;}
.release_info{background:#cc1b21; color:#fff; padding:1em;}
.release_info p{margin:0px; font-style:italic;}

/* Staff pages */
.staff_page{background:#fff; margin-bottom:1em;}
.staff_page .staff_image {margin:0; height:315px;}
.staff_page .staff_meta {background:#fff; padding-left:1em; display: inline-block; margin-top:170px; clear:left; float:left; width:40%; min-width:190px;} 
.staff_body {margin:1em;}

.staff_meta h2.album_title{color:#333;}
.staff_meta h3.album_artist{color:#cc1b21; font: 30px 'LeagueGothicRegular', Arial, sans-serif;}

.noreviews{margin-left:0.5em; margin-bottom:5em;}

/* pagination */
.pagination_links a{color:#fff;}
.pagination_links a:hover{text-decoration:none;}
.pagination_links{   
    clear:both;
    position:relative;
    text-align:center;
    }

 .pagination_links .newposts{float:left;}
.pagination_links .oldposts{float:right;}

/* social */
.social_buttons{ text-align:right; margin-bottom:1em; margin-right:1em;}
.social_buttons a:hover{text-decoration:none;}
/* temporary hacks */

/* odd responsive bugfix - losing margin */
.review_pod, .right_col{padding-top: 0.01em;}

h1.tagline{text-align:center; margin-bottom:12px;}
#content, #sidebar{width:70%; float:left; margin-top:0.5em;}
#sidebar{width:30%; background:#fff;}
#footer{clear:left;}


#header h1 {top:-1000px; position:absolute;}
#header ul.top-navigation{width:200px; float:left;}
#header form {float:right;}

